<nav class="grey darken-3">
    <div class="class nav-wrapper container">
        <a href="" class="brand-logo center">StoryBooks</a>
        <a href="" data-targets="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars</a>
         </div>
</nav>
    